<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand"  href="/">Unscr!pted</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <nav class="nav nav-masthead justify-content-center float-md-end">
    <div class="authorisation buttons">
    <% if user_signed_in?%>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>
    <% else %>
    <%= button_to "Log In", new_user_session_path, :method => :get, class: "btn btn-dark" %>
    <%end%>
    </div>
    <div>
    <% if user_signed_in?%>
    <%= button_to "Account", edit_user_registration_path, method: :get, class: "btn btn-dark" %>
    <%end%>
    </div>
    <div>
    <% if user_signed_in?%>
    <%= button_to "Shop", products_path, method: :get, class: "btn btn-dark" %>
    <%end%>
    </div>
  </nav>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

