<%= simple_form_for edit_product_path, url: {action: "update"} do |f| %>
    <h1 class="heading">Edit Product</h1>
    <%= render 'form', product: @product %>
    <p><%= f.button :submit, product_path, method: :patch %></p>
<% end %>
