<%= simple_form_for new_product_path, url: {action: "create"} do |f| %>
    <h1 class="heading">New Product</h1>
    <%= render 'form', product: @product %>
    <p><%= link_to 'Submit', products_path, method: :create %></p>
<% end %>